.nav {
    width: 700px;
    background-color: gray;
    position: fixed;
    z-index: 1;
    line-height: 48px;
    border-bottom: 2px solid black;
} 

.nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    height: 100%;
}

