
.upvote {
    padding-bottom: 15px;
}

.upvote button {
    color: white;
    background: black;
    height: 40px;
    width: 60px;
    border-radius: 10px;
    cursor: pointer;
}

.upvote p {
    display: inline-block;
    padding-left: 20px;
}